<template>
  <div class="hero-root">
    <div class="my-image-container">
      <img src="~assets/images/dp.jpg" />
    </div>
    <br />
    <h1 class="preom-text">Preom M. R.</h1>
    <h2 class="preom-subtext">Designer / Programmer</h2>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data: function () {
    return {};
  },
  mounted() {},
});
</script>

<style>
.hero-root {
  background: #222;
  width: 100%;
  height: 100vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.preom-text {
  color: white;
  font-family: sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
}

.preom-subtext {
  color: white;
  margin: 0px;
  font-size: 1.25em;
  font-weight: normal;
}

.my-image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;

  border-radius: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.my-image-container img {
  width: 100%;
  position: relative;
}
</style>
