<template>
  <div class="index-root">
    <!-- <n-link to="/page1">page</n-link> -->
    <hero></hero>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import hero from "./index/hero.vue";

// import navbarClear from "../components/navbarClear.vue";
import NavbarClear from "~/components/navbarClear.vue";

export default Vue.extend({
  components: {
    NavbarClear,
    hero,
  },
  data: function () {
    return {};
  },
  computed: {},
  mounted() {},
});
</script>

<style></style>
