<template>
  <div class="navbar-clear-root"></div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data: function () {
    return {};
  },
  mounted() {},
});
</script>

<style>
.navbar-clear-root {
  height: 65px;
}
</style>
