<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    <meta charset="utf-8" />

    <title>Preom M.R.</title>
    <meta name="description" content="Personal site for preom m. r." />
    <meta name="author" content="preom m r" />

    <style>
      body {
        padding: 0px;
        margin: 0px;
      }
      html {
        padding: 0px;
        margin: 0px;
      }
    </style>

    {{ HEAD }}
  </head>

  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
