<template>
  <div class="component-root">
    <h1>misc page 1</h1>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data: function() {
    return {};
  },
  mounted() {
    console.log("page 1");
  },
});
</script>

<style></style>
