<template>
  <div class="component-root">
    <div class="navbar-container">
      <my-navbar></my-navbar>
    </div>
    <nuxt />
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import MyNavbar from "./navbar.vue";

export default Vue.extend({
  components: {
    MyNavbar,
  },
  data: function () {
    return {};
  },
  mounted() {},
});
</script>

<style>
html,
body {
  margin: 0px;
  padding: 0px;
}

.navbar-container {
  position: absolute;
  top: 0px;
  width: 100%;
}
</style>
