<template>
  <div class="navbar-root">
    <ul>
      <li v-for="menuItemVm in menuItems" class="menu-item">
        <a :href="menuItemVm.Link">{{ menuItemVm.Label }}</a>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { MenuItemVm } from "./menuItemVm";

export default Vue.extend({
  data: function () {
    return {
      menuItems: [
        new MenuItemVm("home", "/"),
        new MenuItemVm("experiments", "/home"),
        new MenuItemVm("bayono", "https://bayono.com"),
        new MenuItemVm("contact", "/home"),
      ],
    };
  },
  mounted() {},
});
</script>

<style>
.navbar-root {
  height: 65px;
  background: #222;
  font-family: sans-serif;
  text-transform: capitalize;
}

.navbar-root ul {
  height: 100%;
  display: flex;
  flex-direction: row;

  /* justify-content: center; */
  align-items: stretch;

  margin: 0px;

  list-style-type: none;
}

.navbar-root .menu-item {
  height: 100%;
}

.navbar-root .menu-item:hover {
  background: #a98637;
}

.navbar-root .menu-item a {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;

  display: flex;
  align-items: center;
}
</style>
