<template>
    <div class='component-root'>
    </div>
</template>

<script lang='ts'>
import Vue from "vue";

export default Vue.extend({
    data: function(){
        return {}
    },
    mounted(){
    }
});
</script>

<style>
</style>
